{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <h1>Customer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ customer.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ customer.lastname }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ customer.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('customer_index') }}">back to list</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">edit</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
